*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(36, 34, 31);
    font-family: Arial, Helvetica, sans-serif;
    
}
#results-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

h2{
    color: rgb(197, 108, 108);
    font-size: 500;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.onyi{
    color: white;
    
}

.table-container {
    flex: 1 1 calc(33.333% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.table-container h3 {
    margin-top: 5px;
    color: chocolate;
}

.table-container p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .table-container {
        flex: 1 1 calc(50% - 20px);
    }
}